@page "/register/"
@page "/register/{returnUrl}"
@using BlazorStrap.Extensions.FluentValidation

<div class="page page-center">
    <div class="container-tight py-4">
        <BSForm class="card card-md" Model=@RegisterViewModel OnValidSubmit="RegisterUser">
            <CardBody>
                <h2 class="card-title text-center mb-4">Create new account</h2>
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <CustomAlert Important=true Type="CustomAlertType.Error" Icon="@Icons.Alert_circle">
                        @ErrorMessage
                    </CustomAlert>
                }
                <FluentValidator TValidator="RegisterValidator" />
                @if (!SubmittingData)
                {           
                    <div class="mb-3">
                        <BSLabel>First Name</BSLabel>
                        <BSInput id="firstNameText" InputType="InputType.Text" placeholder="Enter First Name" @bind-Value="@RegisterViewModel.FirstName" />
                        <BSFeedback For="@(() => RegisterViewModel.FirstName)"/>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Last Name</BSLabel>
                        <BSInput id="lastNameText" InputType="InputType.Text" placeholder="Enter Last Name" @bind-Value="@RegisterViewModel.LastName" />
                        <BSFeedback For="@(() => RegisterViewModel.LastName)"/>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Email Address</BSLabel>
                        <BSInput id="emailText" InputType="InputType.Email" placeholder="Enter Email Address" @bind-Value="@RegisterViewModel.Email" />
                        <BSFeedback For="@(() => RegisterViewModel.Email)"/>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Username</BSLabel>
                        <BSInput id="userNameText" InputType="InputType.Text" placeholder="Username" @bind-Value="@RegisterViewModel.UserName" />
                        <BSFeedback For="@(() => RegisterViewModel.UserName)"/>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Password</BSLabel>
                        <BSInput id="passwordText" InputType="InputType.Password" placeholder="Password" @bind-Value="@RegisterViewModel.Password" />
                        <BSFeedback For="@(() => RegisterViewModel.Password)"/>
                        <small class="form-text text-muted">Password must be between 6 and 100 characters long.</small>
                        <small class="form-text text-muted">Password must contain an uppercase and lowercase letter, a number and a special character.</small>
                    </div>
                    <div class="mb-3">
                        <BSLabel>Confirm Password</BSLabel>
                        <BSInput id="confirmPasswordText" InputType="InputType.Password" placeholder="Confirm Password" @bind-Value="@RegisterViewModel.ConfirmPassword" />
                        <BSFeedback For="@(() => RegisterViewModel.ConfirmPassword)"/>
                    </div>
                    <div class="form-footer">
                      <button id="submitButton" type="submit" class="btn btn-primary w-100">Create new account</button>
                    </div>
                }
                else
                {
                    <div style="display:flex; justify-content:center;">
                        <div class="spinner-border" role="status"></div>
                    </div>
                }
            </CardBody>
        </BSForm>
        <div class="text-center text-muted mt-3">
            Already have account? <a href="login" tabindex="-1">Log in</a>
        </div>
    </div>
</div>