@using Tracr.Shared.Models
<Card style="max-height: 75vh; background: transparent; border: unset;">
    <CardBody class="card-body card-body-scrollable card-body-scrollable-shadow pt-0">
        <Row class="mt-1 row-deck row-cards">
            @if(Properties?.Count > 0)
            {
                foreach(var property in Properties)
                {
                    <RowCol Sm="12" Md="6" Lg="4">
                        <Card>
                            <img src="https://ap.rdcpix.com/da5f33259897350f0a7f7c18a4c44ea2l-m1953170496s-w1024_h768.jpg" class="card-img-top">
                            <CardBody>
                                <p style="font-size: small; text-align: center;" class="text-muted mb-2">@property.StreetAddress @property.City, @property.State @property.ZipCode</p>
                                <div class="d-flex align-items-center mb-2">
                                    <BSLabel style="margin-bottom: unset;">List Price:</BSLabel>
                                    <div class="ms-2">
                                        <p style="font-size: small;" class="text-muted mb-0">@property.ListPrice.ToString("C")</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <BSLabel style="margin-bottom: unset;">Year Built:</BSLabel>
                                    <div class="ms-2">
                                        <p style="font-size: small;" class="text-muted mb-0">@property.YearBuilt</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <BSLabel style="margin-bottom: unset;">Bedrooms:</BSLabel>
                                    <div class="ms-2">
                                        <p style="font-size: small;" class="text-muted mb-0">@property.NumBedrooms</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <BSLabel style="margin-bottom: unset;">Bathrooms:</BSLabel>
                                    <div class="ms-2">
                                        <p style="font-size: small;" class="text-muted mb-0">@property.NumBathrooms</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <BSLabel style="margin-bottom: unset;">Sqft:</BSLabel>
                                    <div class="ms-2">
                                        <p style="font-size: small;" class="text-muted mb-0">@property.SqaureFootage.ToString("N0")</p>
                                    </div>
                                </div>
                            </CardBody>
                        </Card>
                    </RowCol>
                }
            }
            else
            {
                <p>No Properties Found!</p>
            }
        </Row>
    </CardBody>
</Card>

@code
{
    public List<PropertyForSale> Properties { get; set; }
}