@page "/userProfile"
@page "/userProfile/{pageId}"
@page "/userProfile/{pageId}/{subPageId}/"
@page "/userProfile/{pageId}/{subPageId}/{propertyId}"

<div id="userProfilePageBody" class="page-body">
    <div class="container-xl">
        <div class="row">
            <h1>My Account</h1>
        </div>
        <div class="row">
            <div class="navbar-col">
                <Navbar style="position:unset; top: unset; left: unset; bottom: unset;" 
                    Direction="NavbarDirection.Vertical" Background="NavbarBackground.Transparent">
                    <NavbarMenu>
                        <CustomNavbarMenuItem IsActive="@IsNavActive("personalInfo")" Href="userProfile/personalInfo" Text="Personal Info">
                            <MenuItemIcon>
                                <Icon class="icon" Elements="@Icons.User" />
                            </MenuItemIcon>
                        </CustomNavbarMenuItem>
                        <CustomNavbarMenuItem IsActive="@IsNavActive("manageProperties")" Href="userProfile/manageProperties" Text="Manage Properties">
                            <MenuItemIcon>
                                <Icon class="icon" Elements="@Icons.Home" />
                            </MenuItemIcon>
                        </CustomNavbarMenuItem>
                        <CustomNavbarMenuItem IsActive="@IsNavActive("changePassword")" Href="userProfile/changePassword" Text="Change Password">
                            <MenuItemIcon>
                                <Icon class="icon" Elements="@Icons.Lock" />
                            </MenuItemIcon>
                        </CustomNavbarMenuItem>
                        <CustomNavbarMenuItem IsActive="@IsNavActive("deleteAccount")" Href="userProfile/deleteAccount" Text="Delete Account">
                            <MenuItemIcon>
                                <Icon class="icon" Elements="@Icons.User_x" />
                            </MenuItemIcon>
                        </CustomNavbarMenuItem>
                    </NavbarMenu>
                </Navbar>
            </div>
            @ChildContent
        </div>
    </div>
</div>

@code {
    private string _pageId = "";

    [Parameter]
    public string PageId
    {
        get
        {
            return _pageId;
        }
        set
        {
            _pageId = value;
            UpdatePage();
        }
    }

    private string _subPageId = "";

    [Parameter]
    public string SubPageId
    {
        get
        {
            return _subPageId;
        }
        set
        {
            _subPageId = value;
            UpdatePage();
        }
    }

    private string _propertyId = "";

    [Parameter]
    public string PropertyId
    {
        get
        {
            return _propertyId;
        }
        set
        {
            _propertyId = value;
            UpdatePage();
        }
    }

    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    protected RenderFragment? ChildContent { get; set; } 

    private void UpdatePage()
    {
        switch (PageId)
        {
            case "personalInfo":
                ChildContent = @<div class="col-lg-7 pb-5">
                                    <div class="container-tight py-4">
                                        <PersonalInfo />
                                    </div>
                                </div>;
                break;
            case "manageProperties":
                if(SubPageId == "add")
                    ChildContent = @<div class="col-lg-9">
                                        <Property CurrentViewMode=Property.ViewMode.Add />
                                    </div>;
                else if(SubPageId == "edit")
                    ChildContent = @<div class="col-lg-9">
                                        <Property CurrentViewMode=Property.ViewMode.Edit PropertyId=Convert.ToInt32(PropertyId) />
                                    </div>;
                else
                    ChildContent = @<div class="col-lg-7">
                                        <UserProperties />
                                    </div>;
                break;
            case "changePassword":
                ChildContent = @<div class="col-lg-7 pb-5">
                                    <div class="container-tight py-4">
                                        <ChangePassword PasswordChanged="@(() => NavigationManager?.NavigateTo("userProfile/personalInfo"))" />
                                    </div>
                                </div>;
                break;
            case "deleteAccount":
                ChildContent = @<div class="col-lg-7 pb-5">
                                    <div class="container-tight py-4">
                                        <DeleteAccount />
                                    </div>
                                </div>;
                break;
            default:
                if (NavigationManager != null)
                    NavigationManager.NavigateTo("userProfile/personalInfo");
                break;
            
        }

        StateHasChanged();
    }

    public bool IsNavActive(string nav)
    {
        return PageId == nav;
    }
}